body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name {
    color: orangered;
}

section {
    margin-bottom: 150px;
}

.section-flex {
    display: flex;
}

.s-one {
    background-image: url(bg-img/top-banner.png);
    background-repeat: no-repeat;
}

.head-content {
    width: 50%;
    padding: 5%;
}

.head-content img {
    width: 80%;
}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orangered, orange);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
}

.dream-big {
    background-image: url(bg-img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5%;
}

.ex-section {
    display: flex;
    background-image: url(bg-img/exp-bg.png);
    background-repeat: no-repeat;
}

.ex-font {
    font-size: xx-large;
}

.ex-con {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    box-shadow: 10px 10px 30px grey;
}

#baby-web {
    border-left: 7px solid blueviolet;
}

#baby-web2 {
    border-left: 7px solid orangered;
}

.color-or {
    color: orangered;
}

footer {
    text-align: center;
    color: orangered;
}